.sidebar {
    width: 20vh;
    background-color: #2d2d2d;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: relative;
    border-right: 1px solid #404040;
 }
.sidebar.collapsed .toggle-btn:not(:first-child) {
    display: none; /* Hide all buttons besides the first (menu) button when collapsed */
 }
.sidebar.collapsed {
    width: 50px;
 }
.sidebar.collapsed .toggle-btn {
    width: 100%;
    padding: 12px 5px;
    text-align: center;
    margin: 0;
    border-radius: 0;
    position: absolute;
    bottom: 0;
 }
.content {
    display: flex;
    flex: 1;
    height: 100vh;
    gap: 0;
    position: relative;
    overflow: hidden;
 }
.side {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }
.quadrant {
    background-color: #2d2d2d;
    align-items: center;
    justify-content: center;
    border: 1px solid #404040;
    position: relative;
    overflow: hidden;
 }
.resizer {
    background-color: #404040;
    cursor: col-resize;
    width: .5vh;
    height: 100%;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
 }
.resizer.horizontal {
    cursor: row-resize;
    height: .5vh;
    width: 100%;
 }
.resizer:hover {
    background-color: #505050;
 }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Increased z-index to ensure it's above other elements */
 }
#q3 {
    position: relative;  /* Positioning context */
    display: flex;      /* Keep the flex display */
    flex-flow: row;     /* Keep the row flow */
    justify-content: flex-start;
    overflow: visible !important; /* Allow the loader to be visible */
}
#left {
    min-width: 300px;
    flex: 0 0 auto;
 }
#right {
    min-width: 300px;
    flex: 1;
 }
#q1 {
    height: 65vh;
 }
#q2 {
    height: 40vh;
    display: flex;
    overflow: hidden;
 }
#q3 {
    height: 34vh;
 }
#q4 {
    height: 59vh;
    overflow: auto;
 }
.flex-visible {
    display: flex;
 }